	@define-color background #2C2A24;
	@define-color second-background #3A372F;
	@define-color text #DDD5C4;
	@define-color borders #88c0d0;
	@define-color focused #D08B57;
	@define-color focused2 #BFAA80;
	@define-color color1 #7699A3;
	@define-color color2 #8D7AAE;
	@define-color color3 #78997A;
	@define-color urgent #B05A5A;

* {
    /* `otf-font-awesome` `ttf-jetbrains-mono` is required to be installed for icons */
    font-family: FontAwesome, "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
  background-color: transparent;
  border-bottom: 0;
  color: @text;
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}


/* configuring the modules */
.modules-left {
  margin: 7px 0 0 7px;
  padding: 1px 3px 1px 3px;
  background-color: @background;
  border: 2px solid @focused;
  border-radius:3px;
}

.modules-center {
  margin: 7px 0 0 7px;
  padding: 1px 3px 1px 3px;
  background-color: @background;
  border: 2px solid @focused;
  border-radius:3px;
}

.modules-right {
  margin: 7px 0 0 7px;
  padding: 1px 3px 1px 3px;
  background-color: @background;
  border: 2px solid @focused;
  border-radius:3px;
}

/*Left Island*/

#hyprland-workspaces,
#cpu,
#memory,
#temperature{
	padding:0px 10px;
}


#hyprland-workspaces:hover,
#cpu:hover,
#memory:hover,
#temperature:hover{
  color: @color1;
}
/* workspace pannel */
#workspaces button {
  min-width: 0;
  padding: 0 8px 0 8px;
  background-color: transparent;
  color: @text;
  border-radius: 0;
}

#workspaces button:hover {
	color:@second-background;
	background-color: @focused2;
}

#workspaces button.active {
  color: @focused2;
  background-color: @second-background;
}

#workspaces button.urgent {
  background-color: @urgent;
}

/* Right Island */

/* module general styles */
#bluetooth,
#network,
#backlight,
#wireplumber,
#battery,
#custom-power{
  padding: 0 10px;
}

#bluetooth:hover,
#network:hover,
#backlight:hover,
#wireplumber:hover,
#battery:hover,
#custom-power:hover{
  color: @color1;
}
#wireplumber.muted {
  background-color: @color2;
}

#battery.charging,
#battery.plugged {
  background-color: @focused2 ;
  color: @background;
}

#battery.critical:not(.charging) {
  background-color: @urgent;
  color: @text;
  animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
  to {
    background-color: @second-background;
    color: @text;
  }
}
